{{>partials/header}}

<h2>Adicionar Produtos</h2>

<form action="/cadastrar" method="POST">
    Nome:<br>
    <input type="text" id="nome" name="nome" required> <br>
    Preço:<br>
    <input type="text" id="preco" name="preco" required> <br>
    <input type="submit" value="Cadastrar">
</form>

    <a href="/produtos">Voltar</a>


{{>partials/footer}}